<!-- Sidebar -->
<div class="sidebar">
    <ul class="nav nav-pills">
        <li><a href="#" class="item item-side active" data-target="first-menu"><i class="ion-university"></i></a></li>
        <li><a href="#" class="item item-side" data-target="second-menu"><i class="ion-android-person"></i></a></li>
        <li><a href="#" class="item item-side" data-target="third-menu"><i class="ion-cube"></i></a></li>
<!--         <li><a href="#" class="item item-side" data-target="fourth-menu"><i class="ion-levels"></i></a></li>
        <li><a href="#" class="item item-side" data-target="fifth-menu"><i class="ion-bug"></i></a></li> -->
    </ul>
</div>

<!-- Secondary Sidebar -->
<div class="sidebar-menu">
    <ul id="first-menu" class="nav nav-pills nav-stacked active">
        <li><a href="#" class="item item-head">Dashboard</a></li>
         <li><a href="list-beasiswa.html" class="item item-side">List Scholarship</a></li>
         <li><a href="create-scholarship.html" class="item item-side">Create Scholarship</a></li>

    </ul>

    <ul id="second-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">User Setting</a></li>
        <li><a href="profile.html" class="item item-side">Profile</a></li>
        <li><a href="index.html#structure" class="item item-side">Organizer Profile</a></li>
    </ul>
</div>